.hero-section[data-type="type-1"] {
	text-align: var(--alignment);
	margin-bottom: var(--margin-bottom, 40px);

	.page-description {
		display: inline-block;
		max-width: var(--description-max-width, 100%);
	}
}