label {
	--fontSize: 15px;
	--lineHeight: inherit;
	cursor: pointer;
	margin: 0 0 0.5em 0;

	&:last-child {
		margin-bottom: 0;
	}
}


// speciffic
$selector: 
	'.gdpr-confirm-policy',
	'.comment-form-cookies-consent'
;

#{$selector} {
	label {
		--fontSize: 13px;
		// margin-left: 0.3em;
	}
}