<span>
    {% if value is same as(true) %}
        <i class="otgs-ico-ok"></i>
    {% elseif value is not same as(false) %}
        <span>
            {{ value }}
        </span>
    {% endif %}
</span>
