<div class="wpml-wizard-step text-center wpml-translation-method-step js-wpml-translation-method-step">
        <h2>{{ strings.title }}</h2>
        <p>{{ strings.sub_title }}</p>


    <div class="wpml-wizard-buttons-container-flex">
        <button class="button button-secondary button-lg-wrap js-skip-translation-services">{{ strings.skip_translation_services }}</button>
        <button class="button wpml-button button-lg-wrap js-select-translation-service">{{ strings.select_translation_service }}</button>
    </div>
</div>