body {
	color: var(--color);

	::selection {
		color: var(--selectionTextColor);
		background-color: var(--selectionBackgroundColor);
	}
}


// headings
h1 {
	color: var(--heading-color, var(--heading-1-color, var(--headings-color)));
}

h2 {
	color: var(--heading-color, var(--heading-2-color, var(--headings-color)));
}

h3 {
	color: var(--heading-color, var(--heading-3-color, var(--headings-color)));
}

h4 {
	color: var(--heading-color, var(--heading-4-color, var(--headings-color)));
}

h5 {
	color: var(--heading-color, var(--heading-5-color, var(--headings-color)));
}

h6 {
	color: var(--heading-color, var(--heading-6-color, var(--headings-color)));
}


// hr line
hr {
	background-color: var(--form-field-border-initial-color);
}


// editor color palettes
// .has-palette-color-1-color {
// 	color: var(--paletteColor1) !important;
// }

// .has-palette-color-2-color {
// 	color: var(--paletteColor2) !important;
// }

// .has-palette-color-3-color {
// 	color: var(--paletteColor3) !important;
// }

// .has-palette-color-4-color {
// 	color: var(--paletteColor4) !important;
// }

// .has-palette-color-5-color {
// 	color: var(--paletteColor5) !important;
// }

// .has-palette-color-6-color {
// 	color: var(--paletteColor6) !important;
// }

// .has-palette-color-7-color {
// 	color: var(--paletteColor7) !important;
// }

// .has-palette-color-8-color {
// 	color: var(--paletteColor8) !important;
// }

// background color
// .has-palette-color-1-background-color {
// 	background-color: var(--paletteColor1) !important;
// }

// .has-palette-color-2-background-color {
// 	background-color: var(--paletteColor2) !important;
// }

// .has-palette-color-3-background-color {
// 	background-color: var(--paletteColor3) !important;
// }

// .has-palette-color-4-background-color {
// 	background-color: var(--paletteColor4) !important;
// }

// .has-palette-color-5-background-color {
// 	background-color: var(--paletteColor5) !important;
// }

// .has-palette-color-6-background-color {
// 	background-color: var(--paletteColor6) !important;
// }

// .has-palette-color-7-background-color {
// 	background-color: var(--paletteColor7) !important;
// }

// .has-palette-color-8-background-color {
// 	background-color: var(--paletteColor8) !important;
// }

// border color
// .has-palette-color-1-border-color {
// 	border-color: var(--paletteColor1) !important;
// }

// .has-palette-color-2-border-color {
// 	border-color: var(--paletteColor2) !important;
// }

// .has-palette-color-3-border-color {
// 	border-color: var(--paletteColor3) !important;
// }

// .has-palette-color-4-border-color {
// 	border-color: var(--paletteColor4) !important;
// }

// .has-palette-color-5-border-color {
// 	border-color: var(--paletteColor5) !important;
// }

// .has-palette-color-6-border-color {
// 	border-color: var(--paletteColor6) !important;
// }

// .has-palette-color-7-border-color {
// 	border-color: var(--paletteColor7) !important;
// }

// .has-palette-color-8-border-color {
// 	border-color: var(--paletteColor8) !important;
// }