.menu,
.entry-meta,
.ct-contact-info ul,
.ct-account-form > ul,
.ct-language-switcher ul,
.products,
.commentlist,
.ct-comments ol,
.ct-comments ul,
.mobile-menu ul,
.payment_methods,
.woocommerce-tabs > ul,
.shop_table,
.wc-item-meta,
.order_details,
.woocommerce-pagination .page-numbers,
.woocommerce-mini-cart,
.woocommerce-MyAccount-navigation ul,
.wp-block-latest-comments {
	margin-bottom: 0;
	
	--listIndent: 0;
	--listItemSpacing: 0;
	--listStyleType: none;
}