html,
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
pre,
kbd,
code,
samp,
label,
figcaption,
// blockquote,
// blockquote p,
.wp-block-quote,
.wp-block-pullquote,
.price,
.menu a,
.ct-label,
.site-title,
.entry-meta,
.widget-title,
.contact-info,
.ct-item-title,
.ct-menu-badge,
.entry-excerpt,
.ct-post-title,
.ct-breadcrumbs,
.ct-header-text,
.author-box-bio,
.author-box-name,
.site-description,
.page-description,
.mobile-menu a,
.comment-reply-title,
.ct-footer-copyright,
.ct-language-switcher,
.entry-summary .price,
.woocommerce-tabs .tabs,
.ct-shortcuts-container,
.ct-widget > *,
.ct-dynamic-data,
.ct-dynamic-filter,
.ct-search-results a,
.tutor-ratings,
.tutor-meta > *,
.tutor-course-details-title,
.tutor-course-details-actions > a,
.ct-language-switcher ul[data-placement] {
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	font-weight: var(--fontWeight);
	font-style: var(--fontStyle, inherit);
	line-height: var(--lineHeight);
	letter-spacing: var(--letterSpacing);
	text-transform: var(--textTransform);
	text-decoration: var(--textDecoration);
}