.entry-content {	
	figcaption {
		--fontSize: 14px;
		// margin-top: 15px;
		// margin-left: auto;
		// margin-right: auto;
		margin-bottom: 0;
		text-align: center;
		// max-width: var(--block-max-width);
	}
}