.wp-block-file {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border-radius: 5px;
	border: 2px dashed rgba(0, 0, 0, 0.1);

	@include media-breakpoint-down (sm) {
		flex-direction: column;
	}

	a:not(.wp-block-file__button) {
		font-weight: 700;

		@include media-breakpoint-down (sm) {
			text-align: center;
			margin-bottom: 1em;
		}
	}

	.wp-block-file__button {
		@include media-breakpoint-down (sm) {
			margin-left: 0;
		}
	}
}