article > .entry-content {

	> * {
		margin-left: var(--default-editor, auto);
		margin-right: var(--default-editor, auto);

		&.alignwide {
			max-width: var(--default-editor, var(--block-wide-max-width));
		}

		&:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
			max-width: var(--default-editor, var(--block-max-width));
		}

		&:not(.alignfull):not(.alignleft):not(.alignright) {
			width: var(--default-editor, var(--block-width));
		}
	}
}