// cover block inner container
.wp-block-cover,
.wp-block-cover-image {

	.wp-block-cover__inner-container {
		width: var(--default-editor, var(--block-width));
		max-width: var(--default-editor, var(--block-max-width));
	}
}

body .is-layout-constrained {

	> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
		width: var(--default-editor, var(--block-width));
	}
}