.page-links,
.woocommerce-pagination > .page-numbers {
	// --border-color: #e0e5eb;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
	font-size: 13px;
	font-weight: 500;
	border-top: 1px solid var(--border-color);
	padding-top: calc(var(--content-spacing) + 1.5em);
	margin-top: calc(var(--content-spacing) + 1.5em);

	a,
	.current,
	.post-pages-label {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 38px;
		min-width: 38px;
		padding: 0 10px;
		border-radius: 3px;
		border: 1px solid var(--border-color);
	}

	.current {
		color: #fff;
		--border-color: var(--paletteColor1);
		background: var(--paletteColor1);
	}

	a {
		--linkInitialColor: var(--color);

		&:hover {
			--border-color: var(--paletteColor1);
			box-shadow: 0px 0px 0px 1px var(--paletteColor1);
		}
	}
}