.post-password-form {
	> p {
		&:last-child {
			display: grid;
			align-items: flex-end;
			grid-column-gap: 15px;
			grid-row-gap: 15px;

			@include media-breakpoint-up (md) {
				grid-template-columns: 1fr 250px;
			}

			> label {
				margin-bottom: 0;

				input {
					margin-top: 0.5em;
				}
			}

			> input[type="submit"] {
				height: var(--form-field-height, 40px);
			}
		}
	}
}