.ct-panels-manager {
	margin-top: 25px;
    padding: 0 14px;

    li {
    	display: flex;
		align-items: center;
		height: 39px;
		padding: 0 12px;
		margin-bottom: 13px;
		cursor: pointer;
		background: #fff;
		border-radius: 3px;
		border: 1px solid #e0e0e8;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02);
		transition: box-shadow 0.1s linear, 
					border-color 0.1s linear;

		&:hover,
		&.active {
			border-color: var(--accentColor);
		}

		&.active {
			box-shadow: 0px 0px 0px 1px var(--accentColor);

			&:after {
				opacity: 1;
				pointer-events: initial;
			}
		}

		&:after {
			font-family: dashicons;
			content: '\f345';
			width: 12px;
			height: 12px;
			font-size: 12px;
			line-height: 13px;
			color: inherit;
			opacity: 0.3;
			pointer-events: none;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			transition: opacity 0.1s ease;
		}
    }
}

.ct-panel-name {
	font-size: 12px;
	font-weight: 500;
	margin-right: auto;
}
