.entry-content {
	#dokan-store-listing-filter-wrap,
	#dokan-store-listing-filter-form-wrap,
	#dokan-seller-listing-wrap {
		margin-left: auto;
		margin-right: auto;
	}

	#dokan-seller-listing-wrap .seller-listing-content .dokan-error {
		margin-left: 0;
		margin-right: 0;
	}

	#dokan-seller-listing-wrap ul.dokan-seller-wrap {
		margin-left: -15px;
		margin-right: -15px;
	}
}