.entry-content > .elementor {
	--default-editor: var(--false);
}

// .ct-elementor-default-template .site-main,
.ct-elementor-default-template {


	// old elementor row and columns (not flex box)
	.elementor-top-section:not(.ct-section-stretched):not(.elementor-sticky) {
		margin-left: var(--has-wide, auto);
		margin-right: var(--has-wide, auto);
		width: var(--block-width, var(--container-width));
		max-width: var(--block-max-width, var(--normal-container-max-width));
	}

	.elementor-section-boxed > .elementor-container {
		width: var(--block-width, var(--container-width));
		max-width: var(--block-max-width, var(--normal-container-max-width));
	}


	// flex container (beta version - older than 3.8.0)
	// maybe remove later
	.e-container {
		--container-max-width: #{'min(var(--block-max-width, var(--normal-container-max-width)), var(--container-width-base))'};
	}

	// elementor 3.8.0 container changes
	.e-con {
		--container-max-width: var(--block-max-width, var(--normal-container-max-width));

		> .e-con-inner {
			width: var(--block-width, var(--container-width));
		}
	}
}


// items spacing
[data-elementor-type] p:last-child {
	margin-bottom: 0;
}

// forms
.elementor-select-wrapper select {
	background-image: none;
}

// seach form
.elementor-search-form__input {
	--form-field-height: auto;
}

.elementor-search-form__submit {
	--buttonShadow: none;
	--buttonTransform: none;
}

// fix for Improved CSS Loading option
// this option is adding a <style> tag and the heading thinks it is not the first child already
.elementor-widget-container style + {

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
}

// colors
:root {
	--e-global-color-blocksy_palette_1: var(--paletteColor1);
	--e-global-color-blocksy_palette_2: var(--paletteColor2);
	--e-global-color-blocksy_palette_3: var(--paletteColor3);
	--e-global-color-blocksy_palette_4: var(--paletteColor4);
	--e-global-color-blocksy_palette_5: var(--paletteColor5);
	--e-global-color-blocksy_palette_6: var(--paletteColor6);
	--e-global-color-blocksy_palette_7: var(--paletteColor7);
	--e-global-color-blocksy_palette_8: var(--paletteColor8);
}