// version 3
.stk-block-button {

	.stk-button {
		border-radius: var(--buttonBorderRadius, 3px);
	}
	
	--stk-button-text-color: var(--buttonTextInitialColor);
	--stk-button-background-color: var(--buttonInitialColor);
}


.wp-block-stackable-columns {

	&.alignfull > .stk-row:not(.alignfull) {
		width: var(--block-width) !important;
	}
}