@import '../1-helpers/functions.scss';

.wpforms-container:not(.wpforms-container-full) {
	.wpforms-field-label {
		font-weight: 600;
	}

	.wpforms-field-radio,
	.wpforms-field-checkbox {
		--top: 2px;

		ul {
			padding: 0;
		}
	}

	.wpforms-field-sublabel {
		font-style: italic;
	}

	.wpforms-field-number-slider {
		input[type='range'] {
			-webkit-appearance: none;
			height: 4px;
			outline: none;
			margin: 10px 0 10px;
			border-radius: 5px;
			background: var(--form-field-border-initial-color);
		}

		input[type='range']::-webkit-slider-thumb,
		input[type='range']::-moz-range-thumb {
			-webkit-appearance: none;
			cursor: pointer;
			height: 16px;
			width: 16px;
			border-radius: 100%;
			border: none;
			background: var(--paletteColor1);
		}

		.wpforms-field-number-slider-hint {
			font-size: 13px;
		}
	}
}

// submit button
.wpforms-submit {
	--button-padding: 5px 35px;
}

// inline form
div.ct-wpforms-inline-fields {
	
	form,
	.wpforms-field-container {
		display: flex;
		flex-wrap: wrap;
		gap: var(--wpforms-inline-fields-gap, 20px);

		@include media-breakpoint-down(sm) {
			flex-direction: column;
		}
	}

	.wpforms-field-container {
		flex: 1;

		.wpforms-field {
			flex: 1;
			padding: 0;
		}
	}

	.wpforms-submit-container {
		padding: 0;
	}

	@include media-breakpoint-down(sm) {
		input,
		select option {
			text-align: center;
		}

		.wpforms-submit {
			width: 100%;
		}	
	}
}