[submodule "coding_standards"]
	path = .standards/coding_standards/
	url = https://github.com/gios-asu/wordpress-coding-standards.git
[submodule ".standards/coding_standards"]
	path = .standards/coding_standards
	url = https://github.com/gios-asu/wordpress-coding-standards.git
