// important
.entry-card .ct-image-container img {
	height: 100%;
}

// boundless image
.entry-card .boundless-image {
	width: calc(100% + var(--card-inner-spacing, 30px) * 2);
	margin-left: calc(var(--card-inner-spacing, 30px) * -1);
	margin-right: calc(var(--card-inner-spacing, 30px) * -1);

	&:first-child {
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
		margin-top: calc(var(--card-inner-spacing, 30px) * -1);
	}

	&:last-child {
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;
		margin-bottom: calc(var(--card-inner-spacing, 30px) * -1);
	}
}

[data-layout="simple"] .entry-card .boundless-image {
	@include media-breakpoint-up (md) {
		border-top-right-radius: 0;
		border-bottom-left-radius: inherit;
	}
}

// featured image border radius
.entry-card .ct-image-container:not(.boundless-image) {
	border-radius: var(--borderRadius, 0px);
}


// hover effect
[data-hover] .ct-image-container img {
	transition: opacity 0.5s ease,
				transform 0.5s ease;
}

[data-hover="zoom-in"] {
	> *:hover .ct-image-container img {
		transform: scale(1.1);
	}
}

[data-hover="zoom-out"] {
	.ct-image-container img {
		transform: scale(1.1);
	}

	> *:hover .ct-image-container img {
		transform: scale(1.0);
	}
}

[data-hover="swap"] {
	.ct-swap {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
	}

	> *:hover .ct-swap {
		opacity: 1;
	}
}