.woocommerce-password-strength {
	font-size: 13px;
	font-weight: 500;
	padding: 4px 12px;
	margin-top: 0.5em;

	&.strong {
		background-color: #c1e1b9;
	}

	&.good {
		background-color: #ffe399;
	}

	&.short {
		background-color: #f1adad;
	}

	&.bad {
		background-color: #fbc5a9;
	}
}

.woocommerce-password-hint {
	display: block;
	margin-top: 0.5em;
}