.hero-section {

	.ct-author-name {

		[class*="ct-image-container"] {
			border-radius: 100%;
			margin-bottom: 10px;
		}
	}
}

.author-box-social {
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: -10px;

	--icon-size: 12px;
	--icon-color: #fff;

	a {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		border-radius: 100%;
		margin: 0 5px 10px 5px;
		background: var(--background-color, var(--paletteColor1));

		&:hover {
			background: var(--background-hover-color, var(--paletteColor2));

			.ct-icon {
				fill: var(--icon-hover-color, #fff);	
			}
		}
	}
}