.widget_product_categories li {
	.count {
		float: right;
	}
}

.wc-block-checkbox-list li label,
.wc-block-components-checkbox__label,
.woocommerce-widget-layered-nav-list li {
	display: flex;
	align-items: center;
	width: 100%;
	

	.wc-filter-element-label-list-count,
	.count {
		opacity: 1;
		font-size: 80%;
		margin-inline-start: auto;
	}
}

.wc-block-checkbox-list__checkbox {
	width: 100%;
}


.widget_rating_filter a,
.widget_product_categories .count,
.widget_layered_nav_filters a:before,
.woocommerce-widget-layered-nav-list .count {
	font-size: 15px;
}