.widget_price_filter {

	.ui-slider {
		position: relative;
		z-index: 1;
		height: 3px;
		margin-bottom: 30px;
		background-color: var(--form-field-border-initial-color);

		.ui-slider-range {
			position: absolute;
			z-index: 1;
			display: block;
			height: 100%;
			background-color: var(--paletteColor1);
		}

		.ui-slider-handle {
			position: absolute;
			z-index: 2;
			top: calc(50% - 9px);
			width: 18px;
			height: 18px;
			cursor: pointer;
			background: #fff;
			border-radius: 100%;
			box-shadow: inset 0px 0px 0px 18px var(--paletteColor1);
			transition: box-shadow 0.2s ease-in-out,
						transform 0.2s ease-in-out;

			&:last-child {
				margin-left: -18px;
			}

			&:focus {
				outline: none;
			}

			&:hover,
			&.ui-state-active {
				transform: scale(1.2);
				box-shadow: inset 0px 0px 0px 2.5px var(--paletteColor1);
			}
		}
	}

	.price_slider_amount {
		display: flex;
		align-items: center;

		#min_price, #max_price, .clear {
			display: none;
		}

		.button {
			--buttonMinHeight: 35px;
			--button-padding: 0 20px;
			--buttonFontSize: 14px;
			order: 10;
			margin-inline-start: auto;
		}
	}
}


// new price filter block
.wc-block-components-price-slider__range-input-wrapper {
	margin-bottom: 30px;
	box-shadow: none;
	height: 3px;
	background: var(--form-field-border-initial-color);
}

.wc-block-components-price-slider__range-input-progress {
	--range-color: var(--paletteColor1);
	height: 3px;
}

.wc-block-components-price-slider__range-input {
	&::-webkit-slider-thumb {
		margin: -10px 0 0 0;
	}

	&.wc-block-components-price-slider__range-input--min {
		&::-moz-range-thumb {
			transform: translate(-2px, 2px);
		}
	}

	&.wc-block-components-price-slider__range-input--max {
		&::-moz-range-thumb {
			transform: translate(2px, 2px);
		}
	}
}

.wc-block-price-filter__controls input {
	border-radius: var(--has-classic-forms, var(--form-field-border-radius, 3px)) !important;
	border-color: var(--form-field-border-initial-color) !important;

	&:focus {
		border-color: var(--form-field-border-focus-color) !important;
	}
}