.woo-listing-top {
	display: flex;
	align-items: center;
	
	&:not(:empty) {
		margin-bottom: 25px;
	}

	@include media-breakpoint-down (xs) {
		flex-direction: column;
		align-items: center;
	}

	.woocommerce-notices-wrapper {
		display: none;
	}
}

// results count
.woocommerce-result-count {
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	@include media-breakpoint-up (sm) {
		margin-bottom: 0;
	}
}

// woo ordering
.woocommerce-ordering {

	@include media-breakpoint-up (sm) {
		margin-inline-start: auto;
	}

	select {
		--form-font-size: 14px;
		--form-field-height: 40px;
	}
}