@import '../../1-helpers/mixins';
@import '../../1-helpers/functions';

@import 'footer-grid';
@import 'divider';
@import 'footer-reveal';

// footer elements
@import 'common';
@import 'copyright';
@import 'socials';

// footer widgets
@import 'widgets';