#{$buttons-base} {
	font-family: var(--buttonFontFamily, var(--fontFamily));
	font-size: var(--buttonFontSize);
	font-weight: var(--buttonFontWeight);
	font-style: var(--buttonFontStyle);
	line-height: var(--buttonLineHeight);
	letter-spacing: var(--buttonLetterSpacing);
	text-transform: var(--buttonTextTransform);
	text-decoration: var(--buttonTextDecoration);
}