// 1 - HELPERS
@import '1-helpers/mixins';
@import '1-helpers/functions';
@import '1-helpers/variables';
@import '1-helpers/fallbacks';

// 2 - BASICS
@import '2-basics/reset';
@import '2-basics/colors';
@import '2-basics/utilities';
@import '2-basics/typography';
@import '2-basics/background';
@import '2-basics/list-reset';
@import '2-basics/accessibility';
@import '2-basics/content-spacing';
@import '2-basics/admin-bar-reset';

// 3 - ACTIONS
@import '3-actions/parallax';
@import '3-actions/page-helpers';
@import '3-actions/reveal-animation';

// 4 - COMPONENTS
@import '4-components/icons';
@import '4-components/ratio';
@import '4-components/links';
@import '4-components/loader';
@import '4-components/labels';
@import '4-components/tooltip';
@import '4-components/widgets';
@import '4-components/form/main';
@import '4-components/pagination';
@import '4-components/entry-meta';
@import '4-components/entry-tags';
@import '4-components/breadcrumbs';
// @import '4-components/back-to-top';
@import '4-components/star-rating';
@import '4-components/anchor-links';
@import '4-components/buttons/main';
@import '4-components/passepartout';
@import '4-components/entry-button';
@import '4-components/image-overlay';
@import '4-components/gdpr-checkbox';
@import '4-components/related-posts';
@import '4-components/show-password';
@import '4-components/featured-image';
@import '4-components/post-edit-link';
@import '4-components/video-indicator';

// 5 - MODULES
@import '5-modules/content-blocks';
@import '5-modules/menu/main';
@import '5-modules/header/main';
@import '5-modules/footer/main';
@import '5-modules/widgets/main';
@import '5-modules/off-canvas/main';
// @import '5-modules/page-title/main';
@import '5-modules/social-box/main';
@import '5-modules/shortcodes/main';

// 6 - LAYOUT
@import '6-layout/main';
@import '6-layout/entries/main';
@import '6-layout/modules-structure';

// 7 - PAGES
@import '7-pages/author-page';
@import '7-pages/no-results-page';

// 8 - INTEGRATIONS
@import '8-integrations/editors-common';
@import '8-integrations/gutenberg/main';