@font-face {
	font-family: 'star';
	src: url('../fonts/stars.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.star-rating {
	// display: inline-flex;
	overflow: hidden;
	position: relative;
	width: 7em;
	height: 1em;
	font-family: 'star';
	font-size: 0.9em;
	font-weight: 400;
	line-height: 1em;
	letter-spacing: 0.4em;
	backface-visibility: hidden;
	color: var(--star-rating-inactive-color, #F9DFCC);

	&:before {
		content: '\53\53\53\53\53';
		float: left;
		top: 0;
		left: 0;
		right: initial;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1em;

		&:before {
			content: '\53\53\53\53\53';
			top: 0;
			left: 0;
			position: absolute;
			color: var(--star-rating-initial-color, #FDA256);
		}
	}
}