.ct-social-box {
	// display: inline-flex;
	display: flex;
	flex-direction: var(--items-direction, row);
	flex-wrap: var(--wrap, wrap);
	gap: var(--spacing, 15px);

	a {
		display: flex;
		align-items: center;
	}

	// icons label
	.ct-label:not([hidden]) {
		margin-inline-start: 0.7em;
		display: var(--visibility);
		transition: color 0.12s cubic-bezier(.455,.03,.515,.955);
	}
}