label.wc-pao-addon-name {
	--fontWeight: 500;
	margin-bottom: 10px;
}

.wc-pao-addon {
	margin-top: 20px;

	&:first-child {
		margin-top: 0;
	}
}

div.product-addon-totals {

	ul {
		--listItemSpacing: 0;
	}

	strong {
		font-weight: 600;
	}
}

.wc-pao-addon-image-swatch.selected {
	outline-color: var(--paletteColor1);
}

.wc-points-rewards-product-message {
	display: block;
}