<div class="js-wpml-translation-basket-dialog otgs-confirmation-dialog" style="display:none"
     data-title="{{ strings.title }}" data-button-done="{{ strings.button_done }}"
     data-redirect-url="{{ redirect_url }}">

    <div class="otgs-confirmation-dialog-icon">
        <span class="otgs-ico-ok"></span>
    </div>
    <div class="js-dialog-content otgs-confirmation-dialog-content">

        <p class="js-call-to-action">
            {{ strings.sent_to_translation }}
        </p>
        <p class="js-batch-link text-center" style="display: none">
            <a
                    href="#"
                    class="button-primary button-lg wpml-margin-top-sm"
                    target="_blank"
                    rel="noopener"
            ></a>
        </p>
    </div>

</div>