.ct-order-review {
	align-self: flex-start;
	border: 2px solid var(--border-color);

	@include media-breakpoint-down (sm) {
		padding: 30px 25px;
	}

	@include media-breakpoint-up (md) {
		padding: 40px 35px;
	}


	table.shop_table {
		margin-bottom: 40px;

		.product-total, tfoot td {
			text-align: right;
		}

		.product-total {
			vertical-align: top;
		}
	}
}