:root,
htmlroot {
	height: initial;
}

:root {

	// conditions
	--true: initial;
	--false: ;

	// page structure (boxed/normal)
	box-sizing: border-box;
	box-shadow: var(--has-boxed, var(--box-shadow));
	max-width: var(--has-boxed, var(--block-max-width));
	border-radius: var(--has-boxed, var(--border-radius));
	padding: var(--has-boxed, var(--boxed-content-spacing));

	width: calc(100% - 20px);
	margin-inline: auto;
	margin-block: var(--has-boxed, 10px);
	

	// post/page title
	.edit-post-visual-editor__post-title-wrapper {
		margin-top: var(--has-wide, 3rem);

		.editor-post-title {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	// full width blocks
	.is-root-container > .alignfull {
		margin-left: var(--has-wide, -10px);
    	margin-right: var(--has-wide, -10px);
	} 
	

	// has background
	.has-background {

		&:is(p, .wp-block-group) {
			padding: 30px;
			box-sizing: border-box;
		}
	}
}