<div class="wpml-flex-table-row wpml_tm_search_container">
    <div class="wpml-flex-table-cell text-right">
        <span class="spinner"></span>
        <label>
        {{ strings.search_for }}:<input type="text" class="wpml_tm_search" value="{{ search_string }}">
    </label>
    </div>
</div>