.product[class*='gallery'] .entry-summary {
	.product_title {
		margin-bottom: 10px;
	}

	.woocommerce-product-rating {
		margin-bottom: 10px;
	}

	// .price {
	// 	margin-bottom: 28px;
	// }

	> .stock {
		margin-top: 2em;
	}
}