.ct-image-container {

	.zoomImg {
		z-index: 2;
		cursor: default;
		object-fit: initial;
		object-position: initial;
		transition: opacity 0.1s ease !important;
		background: var(--zoom-image-background, #fff)
	}
}