.entry-summary {

	.ct-share-box {
		margin-top: var(--product-element-spacing, 25px);
		padding-top: var(--product-element-spacing, 35px);
		border-top: 1px solid var(--border-color);

		.ct-module-title {
			--font-weight: 600;
			--margin: 0 0 20px 0;
		}
	}
}