.ct-icon-picker-value {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	> div {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 9px;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 1px;
		min-width: 75px;
		height: 30px;
		margin-left: 15px;
		cursor: pointer;
		border-radius: 3px;
		box-sizing: border-box;
		background: #fff;
		border: 1px solid var(--borderColor, #ddd);
		transition: border-color 0.1s linear;

		&:hover {
			border-color: var(--accentColor);
		}

		.ct-edit,
		.ct-remove {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
			height: 100%;

			&:before {
				font-family: 'dashicons';
				font-weight: 400;
				font-size: 15px;
				width: 15px;
				height: 15px;
				line-height: 15px;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}

			&:hover .ct-tooltip-top {
				opacity: 1;
				visibility: visible;
				transform: translate3d(0px, -40px, 0px);
			}
		}

		.ct-edit {
			&:before {
				content: '\f464';
			}

			&:hover {
				color: var(--accentColor);
			}
		}

		.ct-remove {
			&:before {
				content: '\f335';
				margin-left: 1px;
			}

			&:hover {
				color: #dd4b39;
			}
		}

		.divider {
			height: 50%;
			border-left: 1px solid var(--borderColor, #ccc);
		}
	}

	.ct-icon-preview {
		display: flex;
		cursor: pointer;
		transition: color 0.1s linear;

		svg, img {
			width: 24px;
			height: 24px;
			fill: currentColor;
		}

		&:hover {
			color: var(--accentColor);
		}
	}
}

.ct-icon-picker-modal {
	height: 430px;
	display: flex;
	flex-direction: column;
}

.ct-icons-list {
	overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100% - 59px);
	padding: 0 14px;
	box-sizing: border-box;

	h2 {
		font-size: 13px;
		font-weight: 500;
		margin: 15px 0 10px 0;
	}

	> ul {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-column-gap: 5px;
		grid-row-gap: 5px;
		margin: 1.5em 0;

		li {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 49px;
			margin: 0;
			padding: 5px 5px;
			border-radius: 3px;
			box-sizing: border-box;
			cursor: pointer;

			&.active {
				color: #fff;
				background: var(--accentColor);
			}

			&:not(.active):hover {
				background: #f5f5f5;
			}

			svg {
				max-width: 20px;
				fill: currentColor;
			}
		}
	}
}

.ct-predefined-icons-container {
	max-height: calc(100% - 43px);

	.ct-option-input {
		padding: 14px;
		border-bottom: 1px dashed #eee;

		input[type='text'] {
			--input-height: 30px;
		}
	}
}

.ct-upload-icon-container {
	padding: 14px;

	&:hover .ct-option-description {
		opacity: 1;
	}
}