td.ct-media-fields-title {
	display: block;
	border-top: 1px solid #ddd;
}

tr.compat-field-blocksy_media_video {
	margin-bottom: 5px;
}

table.compat-attachment-fields {
	.ct-upload-video {
		width: 100%;
	}
}