<div class="js-existing-user-section existing-user-section" style="display:none;">
    <div class="wpml-form-row">
        <input type="text" class="js-translation-manager-select" placeholder="{{ strings.placeholder }}"/>
        <button class="js-add-existing-translation-manager button-primary button-small" disabled="disabled">{{ strings.add_button }}</button>
    </div>
</div>
