<div class="js-new-user-section new-user-section" style="display:none;">
    {% include 'new-user-inputs.twig' %}
    <div class="wpml-form-row">
        <button class="js-add-new-translation-manager button-primary" disabled="disabled">{{ strings.add_button }}</button>
    </div>
</div>
