.ct-palettes-preview,
.ct-palettes-modal {

	.ct-color-picker-container {
		justify-content: initial;
	}
}

.ct-palettes-preview {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;

	padding: 5px 12px 0 12px;
	margin: 0 -14px;
	border-radius: 100px;
	// background: rgba(255, 255, 255, 0.3);
	// box-shadow: inset 0 0 0 1px var(--optionBorderColor);
	

	&:after {
		font-family: 'dashicons';
		content: "\f347";
		// content: '\002022\002022\002022';
		font-size: 12px;
		// font-weight: 700;
		// letter-spacing: 0.05em;
		opacity: 0.5;
		// margin-right: -5px;
		transition: opacity 0.15s ease;
	}

	&:hover {

		&:after {
			opacity: 1;
		}
	}
}


.ct-palettes-modal {
	max-height: 450px;
	overflow-y: scroll;

	&:before {
		display: none;
		// --option-modal-arrow-position: calc(50% - 6px);
	}

	.ct-single-palette {
		position: relative;
		padding: 16px 12px;
		cursor: pointer;
		// opacity: 0.85;
		// transition: opacity 0.15s ease;

		&:not(:last-child) {
			border-bottom: 1px dashed #eee;
		}

		&.ct-active label:after {
			content: '\f147';
			font: 400 17px/17px dashicons;
		}

		&:hover,
		&.ct-active {
			background: rgba(0, 0, 0, 0.02);

			label {
				opacity: 1;
			}
		}
	}

	label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 12px;
		font-weight: 500;
		color: #50575e;
		opacity: 0.7;
		margin-bottom: 10px;
		-webkit-font-smoothing: antialiased;
	}

	.ct-tooltip-top {
		display: none;
	}
}