@supports not (aspect-ratio: auto) {
	.ct-image-container {
		img,
		video,
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		&:before {
			display: block;
			content: '';
			width: 100%;
			padding-bottom: 100%;
		}
	}
}