/**
 * WooCommerce Advanced Product Labels
 */
/**
 * Imports
 */
.wapl-flash,
.wapl-flash .product-label {
  font-size: 1em; }

.wapl-flash,
.wapl-flash .product-label {
  width: 3.706325903em;
  height: 3.706325903em;
  line-height: 3.706325903em;
  border: 0; }

.wapl-label .product-label {
  padding: 0.6180469716em 0.875em;
  display: inline-block;
  margin: 0 auto;
  font-size: 0.875em; }
  .wapl-label .product-label:empty {
    display: none; }

.wapl-label {
  margin-bottom: 0.875em; }
