<div id="ate-controls" class="ate-controls sub-section">
	<div class="otgs-notice otgs-notice__status inline">
		<p> </p>
		<span class="spinner"> </span>
		<button class="js-synchronize-with-ams button-secondary">
            {{ synchronize_button_text }}
		</button>
	</div>

	<div class="otgs-notice otgs-notice__errors error inline hidden"><p></p></div>
</div>
