<div
        class="listing-table ts-admin-section-inactive-services js-translation-services-list"
        data-services="{{ services|json_encode() }}"
        data-header="{{ header }}"
        data-show_popularity="{{ show_popularity }}"
        data-strings="{{ strings|json_encode() }}"
>
</div>